


<div class="container" style="margin-top:100px;">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/bags/bag1.jpg" alt="bag1">
        <div class="card-body text-center">
          <h5 class="card-title">Clasic bag</h5>
          <div class="card-text">
            <h6>Price: <p> $ 1500</p></h6> 
          </div>
          <a href="#" class=" btn-pink" [ngClass]='dynamicHeader'>ADD TO CART</a>
          <!-- <a href="#" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/bags/bag2.jpg" alt="bag1" [routerLink] = "['/productDetails']">
        <div class="card-body text-center">
          <h5 class="card-title">Clasic bag</h5>
          <div class="card-text">
            <h6>Price: <p> $ 1800</p></h6> 
          </div>
          <a href="#" class="btn btn-green">ADD TO CART</a>
        </div>
      </div>

    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/bags/bag3.jpg" alt="bag1">
        <div class="card-body text-center">
          <h5 class="card-title">Clasic bag</h5>
          <div class="card-text">
            <h6>Price: <p> $ 2000</p></h6> 
          </div>
          <a href="#" class="btn btn-gray">ADD TO CART</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/bags/bag4.jpg" alt="bag1">
        <div class="card-body text-center">
          <h5 class="card-title">Clasic bag</h5>
          <div class="card-text">
            <h6>Price: <p> $ 2500</p></h6> 
          </div>
          <a href="#" class="btn btn-orange">ADD TO CART</a>
        </div>
      </div>
    </div>
  </div>
</div>