


/* *****************HEADER***************************** */
.one {
    background-color: pink;
    margin: 10px;
}


.two {
    background-color: green;
    margin: 10px;
}


.three {
    background-color: yellow;
    margin: 10px;
}

/* *****************************DIV 2 for Image link**************************** */
img {
    width: 100%;
    height: auto;
}

#chart1, #chart2, #chart3 {
margin-top: 20px;
/* background-color: lightgreen; */
}
