<!-- <app-css-setting></app-css-setting> -->
<app-navbar></app-navbar>
<!-- <a ></a> -->

<div class="container-fluid">
    <div class="row">
        <app-carousel></app-carousel>
    </div>
  </div>

<div class="container" id="chart1">
  
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a  [routerLink] = "['/product1']">
          <img src="assets/1.jpg"> 
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <a href="">
              <img src="assets/2.jpg">
            </a>
        </div>
    </div>
  </div>





<div class="container" id="chart2">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="">
          <img src="assets/3.jpg">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
          <a href="">
              <img src="assets/4.jpg">
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="">
                <img src="assets/5.jpg">
              </a>
          </div>
    </div>
  </div>

  
<div class="container" id="chart3">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a href="">
          <img src="assets/5.jpg">
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <a href="">
              <img src="assets/6.jpg">
            </a>
        </div>
    </div>
  </div>



<app-footer></app-footer>